## Preparing Data for Monthly Visitor Plot

In [1]:
#Import dependences
import pandas as pd
import numpy as np
import re
import json

In [2]:
park_info = pd.read_csv('../Resources/Monthly Visitors By Park.csv')
park_info

,Park,Dec-22,Nov-22,Oct-22,Sep-22,Aug-22,Jul-22,Jun-22,May-22,Apr-22,Mar-22,Feb-22,Jan-22
0,Abraham Lincoln Birthplace NHP,"6,784","12,503","21,857","31,130","32,346","36,369","36,056","30,360","25,848","16,447","10,174","5,833"
1,Acadia NP,"22,506","70,675","521,646","697,292","785,236","791,358","603,023","327,466","105,126","22,476","13,045","10,411"
2,Adams NHP,361,425,"2,207","1,811","1,876","2,041","2,109","1,343",262,204,125,84
3,African Burial Ground NM,"2,583","3,871","3,173","3,134","2,530","3,073","3,253","2,213","2,625","1,667","1,163",458
4,Agate Fossil Beds NM,55,224,"1,172","2,501","2,320","3,236","3,332","2,123",764,400,117,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Wupatki NM,"7,000","9,786","16,522","23,900","582,211","596,562","525,363",9,NaN,NaN,NaN,NaN
383,Yellowstone NP,"30,794","17,687","236,567","567,587","518,407","396,833","470,045","539,172",NaN,NaN,NaN,NaN
384,Yosemite NP,"131,100","178,786","381,612","424,374",165,286,267,NaN,NaN,NaN,NaN,NaN
385,Yukon-Charley Rivers NPRES,0,0,0,15,"437,134","548,636","569,975",NaN,NaN,NaN,NaN,NaN
386,Zion NP,"176,846","291,044","459,697","423,654",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN